a.ext-audiobutton {
	text-decoration: none;

	&[ data-state='play' ]::before {
		content: '▶️';
	}

	&[ data-state='pause' ]::before {
		content: '⏸️';
	}

	&[ data-state='error' ]::before {
		content: '❓️';
	}
}
